/* Styles for larger screens (e.g., 768px and up) */
@media (min-width: 768px) {

  #menu-button {
      display: none;
    }
  
    header nav ul {
      display: flex;
      flex-direction: row;
    }

    header nav li{
      flex: 1;
    }

    .site-branding span {
      font-size: xx-large;
    }

  #directory-container.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 0 2rem;
  }


  #directory-container.list {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }

  #directory-container.list section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  #directory-container.list img {
    width: 100px;
    margin-right: 1rem;
  }
}